@echo off
git config --local user.name the-red-dice
git config --local user.email test@gmail.com
git config --local credential.helper store
git pull
git add -A
git commit -m "loop"
git push https://the-red-dice:TOKEN@github.com/the-red-dice/the-red-dice-github.io.git